/ section why choose us
/ ================
%section.pv-30
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          Tại sao bạn nên chọn
          %strong Lọ Lem
          Spa
        .separator
        %p.large.text-center
          #{Shoppe.settings.store_name} đảm bảo với bạn sự phục vụ nhiệt tình nhất, chuyên nghiệp nhất trong một môi trường không gian vừa lịch sự vừa thoải mái nhất. Trách nhiệm của chúng tôi là luôn đổi mới, cập nhật những công nghệ mới nhất. Đối với chúng tôi, khách hàng là thượng đế và để đảm bảo tất cả các yếu tố kể trên tại cơ sở của #{Shoppe.settings.store_name} có các điểm khác biệt như sau:
        %br
  .container
    .row
      .col-md-6
        = image_tag("lolem_spa_phan_thiet.jpg")
      .col-md-6
        %p.space-top
          Vì sao bạn nên lựa chọn chúng tôi ... tạo được uy tín lớn trong lòng quý khách hàng nhiều năm qua, là lí do để bạn nên lựa chọn các dịch vụ làm đẹp tại đây.
        .media
          .media-left.pr-20
            %a{:href => "#"}
              %span.icon.circle.small.default-bg
                %i.icon-eye
          .media-body
            %h4.media-heading ĐỘI NGŨ NHÂN VIÊN
            Với đội ngũ nhân viên tay nghề cao, đến với Spa chúng tôi bạn sẽ trải nghiệm những dịch vụ với sự phục vụ tận tình và chu đáo nhất.
        .media
          .media-left.pr-20
            %a{:href => "#"}
              %span.icon.circle.small.default-bg
                %i.icon-trophy
          .media-body
            %h4.media-heading CƠ SỞ VẬT CHẤT
            Cơ sở vật chất hiện đại, thiết kế phòng óc khang trang... Phòng Spa kết hợp Âu – Á vừa sang trọng, hiện đại, vừa ấm áp, vừa thư thái.
        .media
          .media-left.pr-20
            %a{:href => "#"}
              %span.icon.circle.small.default-bg
                %i.icon-lifebuoy
          .media-body
            %h4.media-heading GIÁ CẢ HỢP LÝ
            #{Shoppe.settings.store_name} tự hào là hệ thống tiên phong trong việc đưa đến các dịch vụ làm đẹp tiên tiến nhất, hiện đại nhất theo công nghe Hàn Quốc với mức chi phí vô cùng hợp lý và đa dạng, phù hợp với mọi nhu cầu và tình hình tài chính của khách hàng.
        %p
          %a.btn.btn-default-transparent.btn-animated{:href => "#"}
            Chi tiết
            %i.fa.fa-arrow-right.pl-10
              / section end
