/ ================ core features
%section.light-gray-bg.pv-30.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          %strong LỌ LEM SPA cam kết
        .separator
        %p.large.text-center
          Hiệu quả thật 100% - Cam Kết không trắng hoàn tiền 100%
      .col-md-3
        .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg.circle
            %i.fa.fa-diamond
          .separator.clearfix
          %p
            Trắng lên ít nhất 2 đến 4 tone so với da cũ!
      .col-md-3
        .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg.circle
            %i.fa.fa-diamond
          .separator.clearfix
          %p
            Ko hại da ko mòn da ko bắt nắng!
      .col-md-3
        .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg.circle
            %i.fa.fa-diamond
          .separator.clearfix
          %p
            Đều màu - không trắng bệch hay loang lố
      .col-md-3
        .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg.circle
            %i.fa.fa-diamond
          .separator.clearfix
          %p
            Không hồi da đen