.owl-carousel.content-slider
  .container
    .row
      .col-md-8.col-md-offset-2
        .testimonial.text-center
          .testimonial-image
            = image_tag("members/thuy_tram.jpg")
          %h3 Tuyệt vời!
          .separator
          .testimonial-body
            %blockquote
              %p
                Hôm nay mình có dịp ghé Lọ Lem Spa Phan Thiết,mình mới vừa hấp trắng tiêm căng bóng da, thây hiệu quả rất là tốt,da mình mới hấp có một lần thôi mà lên tone quá trời luôn, lúc trước da mặt mình thâm quá trời luôn nhưng mà điều trị có một lẩn thôi mà đã cải thiện rất là tốt
                những vết thâm thì mờ bớt đi, da mặt thì thấy căng hơn và sáng hơn nữa, mình không cần thoa kem mà thấy da mình vẫn sáng. mình rất là cảm ơn Lọ Lem Spa.
            .testimonial-info-1 - Triệu Yến Trân
            .testimonial-info-2 Lương Sơn - Bắc Bình - Bình Thuận
  .container
    .row
      .col-md-8.col-md-offset-2
        .testimonial.text-center
          .testimonial-image
            = image_tag("testimonial-2.jpg")
          %h3 Amazing!
          .separator
          .testimonial-body
            %blockquote
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in.
                Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse
                vel!
            .testimonial-info-1 - Jane Doe
            .testimonial-info-2 By Company
