/ section start
/ ================
%section.section.default-bg.clearfix
  .container
    .row
      .col-md-12
        .call-to-action.text-center
          .row
            .col-sm-8
              %h1.title NHANH TAY ĐĂNG KÝ ĐỂ ĐƯỢC GIẢM GIÁ NGÀY KHAI TRƯƠNG BẠN NHÉ !!!
              %p
                Dịp khai trương sẽ nhanh chóng qua mau, hãy nhanh chóng quyết định để trở nên xinh đẹp với chi phí phải chăng!
            .col-sm-4
              %br
                %p
                  %a.btn.btn-lg.btn-gray-transparent.btn-animated{:href => "https://www.facebook.com/lolemspaphanthiet/"}
                    Xem
                    %i.fa.fa-arrow-right.pl-20
                      / section end
