/ section
/ ================
%section.pv-30
  .container
    .row
      .col-md-6
        %h2
          %strong Khuyến mãi
        .separator-2
        %p
          Tưng bừng khuyến mãi nhân dịp khai trương
        %ul.list-icons
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "100"}
            %i.icon-check-1
            Hấp trắng Hàn Quốc 1,200k chỉ còn 600k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "150"}
            %i.icon-check-1
            Lăn kim Hàn Quốc: 1,500k chỉ còn 1,200k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "200"}
            %i.icon-check-1
            Trị mụn công nghệ cao: 600k chỉ còn 300k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Trị nám, tàn nhang: 3,000k chỉ còn 2,000k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Tan mỡ bụng, chân, tay, đùi: 3,000k chỉ còn 1,500k.
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Căng bóng da Hàn Quốc,hồi sinh da mới: 4,500k chỉ còn 2,999,999
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Tiêm mũi Sline:5,500k chỉ còn?3,999k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Tiêm cằm VLINE:6.000k chỉ còn?4,500k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Môi baby,trái tim,sexy: 4000k chỉ còn?2,999k bao đẹp.
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Tiêm thon gọn hàm VLINE:8,000k chỉ còn?3,999k
          %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
            %i.icon-check-1
            Tiêm trắng Vĩnh viễn: 4,500k chỉ còn 2,500k/1 lần.
        %a.btn.btn-default.btn-hvr.hvr-shutter-out-horizontal.btn-lg{:href => "page-about.html"}
          %i.icon-users-1.pr-10>
          Chi tiết
      .col-md-6
        %br
          %div{:role => "tabpanel"}
            / Nav tabs
            %ul.nav.nav-tabs.style-1{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"}
                  %i.icon-heart.pr-10>
                  We
                  Love
              %li{:role => "presentation"}
                %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} What
              %li{:role => "presentation"}
                %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} We Do
            / Tab panes
            .tab-content
              #home.tab-pane.fade.in.active{:role => "tabpanel"}
                %h3 Cảm nhận của khách hàng về dịch vụ của Lọ Lem Spa
                .embed-responsive.embed-responsive-16by9
                  %iframe.embed-responsive-item{:allowTransparency => "true", :frameborder => "0", :height => "400", :scrolling => "no", :src => "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Flolemspaphanthiet%2Fvideos%2Fvb.468689976658727%2F482537505273974%2F%3Ftype%3D3&show_text=1&width=560", :style => "border:none;overflow:hidden", :width => "560"}
              #profile.tab-pane.fade{:role => "tabpanel"}
                %h3 Gởi lời cám ơn chân thành đến những khách hàng đã ủng hộ SPA.
                .embed-responsive.embed-responsive-16by9
                  %iframe.embed-responsive-item{:allowTransparency => "true", :frameborder => "0", :height => "419", :scrolling => "no", :src => "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Flolemspaphanthiet%2Fvideos%2Fvb.468689976658727%2F481340155393709%2F%3Ftype%3D3&show_text=1&width=560", :style => "border:none;overflow:hidden", :width => "560"}
              #messages.tab-pane.fade{:role => "tabpanel"}
                %h3 Khách tiêm cằm tại Lọ Lem Spa Phan Thiết
                .embed-responsive.embed-responsive-16by9
                  %iframe{:allowTransparency => "true", :frameborder => "0", :height => "400", :scrolling => "no", :src => "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Flolemspaphanthiet%2Fvideos%2Fvb.468689976658727%2F481894815338243%2F%3Ftype%3D3&show_text=1&width=560", :style => "border:none;overflow:hidden", :width => "560"}
  %br
    / section end
