%section.light-gray-bg.pv-30.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          Dịch vụ của
          %strong Lọ Lem Spa
        .separator
        %p.large.text-center Ai bảo gái Phan Thiết không trắng???
        %p Với công nghệ hấp trắng Hàn Quốc độc quyền tại Lọ Lem Spa mang đến cho các bạn gái Phan Thiết làn da trắng nổi bật, trắng rạng rỡ ko trắng ko lấy tiền .Cam kết trắng hoàn hảo 100%. Làn da trắng không còn là trở ngại khó khăn nữa đâu nhé. Công nghệ độc quyền, máy móc hiện đại mang đến cho các bạn vẻ ngoài thay đổi vượt trội.
      .col-sm-6
        .image-box.style-2.mb-20.bordered.dark-bg
          .overlay-container.overlay-visible
            %img{:alt => "", :src => image_url("services/hap-trang-han-quoc-358x221.jpg")}
              %a.overlay-link{:href => "portfolio-item.html"}
                %i.fa.fa-link
          .body
            %h3 Hấp trắng Hàn Quốc
            .separator-2
            %p.small.mb-10
              %i.icon-calendar
              Feb, 2015
            %p.text-muted Hấp trắng công nghệ Hàn Quốc kết hợp ánh sáng sinh học mang lại cho bạn làn da trắng hồng như baby...
            %a.btn.btn-gray-transparent.btn-animated.btn-sm.margin-clear{:href => "#"}
              Xem
              %i.fa.fa-arrow-right.pl-10
      .col-sm-6
        .image-box.style-2.mb-20.bordered.dark-bg
          .overlay-container.overlay-visible
            %img{:alt => "", :src => image_url("services/lan-kim-han-quoc-358x221.jpg")}
              %a.overlay-link{:href => "portfolio-item.html"}
                %i.fa.fa-link
          .body
            %h3 Lăn kim Hàn Quốc
            .separator-2
            %p.small.mb-10
              %i.icon-calendar
              Feb, 2015
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
            %a.btn.btn-gray-transparent.btn-animated.btn-sm.margin-clear{:href => "#"}
              Xem
              %i.fa.fa-arrow-right.pl-10
      .col-sm-6
        .image-box.style-2.mb-20.bordered.dark-bg
          .overlay-container.overlay-visible
            %img{:alt => "", :src => image_url("services/tri-mun-cong-nghe-cao-358x221.jpg")}
              %a.overlay-link{:href => "portfolio-item.html"}
                %i.fa.fa-link
          .body
            %h3 Trị mụn công nghệ cao
            .separator-2
            %p.small.mb-10
              %i.icon-calendar
              Feb, 2015
              %i.pl-10.icon-tag-1
              Web Design
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
            %a.btn.btn-gray-transparent.btn-animated.btn-sm.margin-clear{:href => "#"}
              Xem
              %i.fa.fa-arrow-right.pl-10
      .col-sm-6
        .image-box.style-2.mb-20.bordered.dark-bg
          .overlay-container.overlay-visible
            %img{:alt => "", :src => image_url("services/tri-mun-cong-nghe-cao-358x221.jpg")}
              %a.overlay-link{:href => "portfolio-item.html"}
                %i.fa.fa-link
          .body
            %h3 Trị mụn công nghệ cao
            .separator-2
            %p.small.mb-10
              %i.icon-calendar
              Feb, 2015
              %i.pl-10.icon-tag-1
              Web Design
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
            %a.btn.btn-gray-transparent.btn-animated.btn-sm.margin-clear{:href => "#"}
              Xem
              %i.fa.fa-arrow-right.pl-10