- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'
- content_for :services do
  = render 'shared/service_list', :services=>@services
- content_for :banner do
  = render 'shared/main_banner'

/= render 'shared/product_list', :products => @products
